###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Source files
###############################################################################

*.dat   text eol=lf
*.md    text
*.toml  text
*.txt   text
*.yml   text

*.cpp   text diff=cpp
*.h     text diff=cpp
*.hpp   text diff=cpp
*.py    text diff=python
